@if (Snapshot.IsSome && Snapshot.Get() is ReconciledSnapshot snapshot)
{
<hr />

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-3">Income</th>
            <th class="col-3 text-end">Amount</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var inc in snapshot.Income)
    {
        <tr>
            <td>@inc.Name</td>
            <td class="text-end"><CurrencyComponent Value=inc.Amount /></td>
        </tr>
    }
        <tr>
            <td>@snapshot.TotalIncome.Name</td>
            <td class="text-end"><CurrencyComponent Value=snapshot.TotalIncome.Amount /></td>
        </tr>
    </tbody>
</table>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th class="col">Expenses</th>
            <th class="col text-end">Budget</th>
            <th class="col text-end">Actual</th>
            <th class="col text-end">Remaining</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var expense in snapshot.CategoryExpenses)
    {
        <tr>
            <td>@expense.Category</td>
            <td class="text-end"><CurrencyComponent Value=expense.Budget /></td>
            <td class="text-end"><CurrencyComponent Value=expense.Actual /></td>
            <td class="text-end"><CurrencyComponent Value=expense.Remaining WithNegative=true /></td>
        </tr>
    }
        <tr>
            <td>@snapshot.TotalExpenses.Category</td>
            <td class="text-end"><CurrencyComponent Value=snapshot.TotalExpenses.Budget /></td>
            <td class="text-end"><CurrencyComponent Value=snapshot.TotalExpenses.Actual /></td>
            <td class="text-end"><CurrencyComponent Value=snapshot.TotalExpenses.Remaining WithNegative=true /></td>
        </tr>
    </tbody>
</table>

<hr />
}
else
{
<p>There was no snapshot for the selected month.</p>
}
@code {
    [Parameter]
    public Option<ReconciledSnapshot> Snapshot { get; set; } = Option<ReconciledSnapshot>.None();
}