@page "/expense/add"
@inject IExpenseRepository _repo;
@inject ICategoryRepository _catRepo;
@inject NavigationManager _nav;

<PageTitle>Budget Tracker - Expenses</PageTitle>
<div class="col-12 border border-secondary p-1">
    <h3>New Expense Record</h3>

    <EditForm class="mx-2" Model="@_vm" OnValidSubmit="CreateHandler">
        <div class="mb-3">
            <label for="expenseName" class="form-label">Name</label>
            <InputText id="expenseName" class="form-control" required @bind-Value="_vm.Name" placeholder="New expense" />
        </div>

        <div class="mb-3">
            <label for="expenseCategory" class="form-label">Category</label>
            <InputSelect id="exampleSelect" class="form-select" @bind-Value="_vm.CategoryId">
                @foreach (var cat in _vm.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </InputSelect>
        </div>

        <div class="mb-3">
            <label for="expenseDate" class="form-label">Committed date</label>
            <InputDate id="expenseDate" class="form-control" @bind-Value="_vm.CommittedDate" />
        </div>

        <div class="mb-3">
            <label for="expenseAmount" class="form-label">Actual</label>
            <InputNumber id="expenseAmount" class="form-control" min=0 @bind-Value="_vm.Actual" />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" @onclick=CancelHandler>Cancel</button>
    </EditForm>

    @if (string.IsNullOrEmpty(_errorMessage) is false)
    {
        <div>@_errorMessage</div>
    }
</div>
