@page "/expense"
@inject IExpenseRepository _repo;
@inject ICategoryRepository _catRepo;

<PageTitle>Budget Tracker - Expenses</PageTitle>
<h3>Unreconciled Expenses</h3>

@if (_expenses.Length <= 0)
{
    <div>No expense records have been created... please add some.</div>
}
else
{
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th class="col text-center d-none d-md-table-cell">Id</th>
                <th class="col">Name</th>
                <th class="col">Category</th>
                <th class="col">Date</th>
                <th class="col text-end">Actual</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in _expenses)
            {
                <tr>
                    <td class="text-center d-none d-md-table-cell">@expense.Id</td>
                    <td>@expense.Name</td>
                    <td>@CatIdToCategory(expense.Id)</td>
                    <td>@expense.CommittedDate.ToMonthDay()</td>
                    <td class="text-end"><CurrencyComponent Value=expense.Actual /></td>
                    <td class="text-center">
                        <a href=@Constants.Expense.EditUrl(expense.Id)><i class="bi bi-pencil"></i></a>
                        <a href=@Constants.Expense.DeleteUrl(expense.Id)><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="mt-2"><a class="btn btn-outline-primary" href=@Constants.Expense.AddUrl>Add Expense</a></div>
