@page "/income/delete/{Id:int}"
@inject IIncomeRepository _repo;
@inject NavigationManager _nav;

<PageTitle>Budget Tracker - Income</PageTitle>
<div class="col-12 border border-secondary p-1">
    <h3>Delete Unreconciled Income</h3>

    @if (_income.IsSome && _income.Get() is Income inc)
    {
        <EditForm class="mx-2" Model="@inc" OnValidSubmit="DeleteHandler">
            <div class="mb-3">
                <div class="form-label">
                    Are you sure that you want to delete the income record with id=@inc.Id, named '@inc.Name'?
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick=CancelHandler>Cancel</button>
        </EditForm>
    }

    @if (_errorMessage.IsSome && _errorMessage.Get() is string error)
    {
        <div class="mt-3">@error</div>
    }
</div>
