@page "/report/current"
@using WealthTracker.Domain
@inject IWealthRepository _repo;

<PageTitle>Wealth Tracker - Reports</PageTitle>
<h3>Current Net Worth</h3>

@if (accounts.Length <= 0)
{
    <div>No accounts available... please start by adding some accounts.</div>
}
else
{
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-5">Name</th>
                <th class="col-5 text-end">Value</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td class="text-end">
                        <CurrencyComponent Value=@account.GetLatestValue() WithNegative=true />
                    </td>
                    <td class="text-center">
                        <a href=@($"/account/record/{account.Id}")><i class="bi bi-pencil"></i></a>
                        <a><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
                <tr>
                    <td class="fw-bold">Total:</td>
                    <td class="text-end">
                        <CurrencyComponent Value=@accounts.Sum(x => x.GetLatestValue()) WithNegative=true />
                    </td>
                    <td></td>
                </tr>
        </tbody>
    </table>
}

@code {
    WealthDataEntity[] accounts = [];

    protected override void OnInitialized() => accounts = _repo.GetEntities();
}
