<span class=@ValueCssClass>@DisplayValue</span>

@code {
    [Parameter]
    public decimal Value { get; set; }

    [Parameter]
    public bool WithNegative { get; set; }

    public string DisplayValue => $"{Value:C}";

    public string ValueCssClass => (WithNegative && Value < 0) ? "text-danger" : string.Empty;
}
