@page "/"

<PageTitle>Wealth Tracker - Home</PageTitle>

<h2>Wealth Tracker</h2>

<p>Welcome to your wealth tracker app. Keep track of all of your accounts and current balances on the privacy of your own device.</p>
<p>All of the data you input is only saved locally and not uploaded to any services.</p>
<p>Start today by adding some new <a href="/account">accounts</a> and then <a href="/report/current">tracking</a> how much they're worth. 
   This app keeps a history of your past entries, so you can see the improvement in your investments over time.</p>
