<div class="mb-3">
    <div for="accountCategories" class="form-label">Categories: @Categories.AsString("none.")</div>
    <button id="accountCategories" type="button" class="btn btn-secondary" @onclick=Categories.Clear>
        Clear Categories
    </button>
</div>

<div class="mb-3">
    <label for="accountCategory" class="form-label">Category</label>
    <div class="input-group">
        <InputText id="accountCategory" class="form-control" placeholder="New Category"
                   @bind-Value=singleCategory @oninput=OnCategoryInputChanged />
        <button class="btn btn-primary" type="button" @onclick=AddCategory
                disabled="@singleCategory.IsEmpty()">
            Add
        </button>
    </div>
</div>

@code {
    private string singleCategory = string.Empty;

    [Parameter]
    public List<string> Categories { get; set; } = [];

    private void OnCategoryInputChanged(ChangeEventArgs e) => singleCategory = e.Value?.ToString() ?? string.Empty;

    private void AddCategory() =>
        singleCategory.HasText().IfTrueOrElse(() =>
        {
            Categories.Add(singleCategory);
            singleCategory = string.Empty;
        });
}
