@page "/account/delete/{Id:int}"
@using WealthTracker.Domain
@inject IWealthRepository _repo;
@inject NavigationManager _nav;

<PageTitle>Wealth Tracker - Accounts</PageTitle>
<div class="col-12 border border-secondary p-1">
    <h3>Delete Account</h3>

    @if (_account is not null)
    {
        <EditForm class="mx-2" Model="@_account" OnValidSubmit="DeleteHandler">
            <div class="mb-3">
                <div class="form-label">
                    Are you sure that you want to delete the account with id=@_account.Id, named '@_account.Name'?
                </div>
                <div class="form-label">
                    This will also delete all of the data associated with this account.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick=CancelHandler>Cancel</button>
        </EditForm>
    }

    @if (string.IsNullOrEmpty(_errorMessage) is false)
    {
        <div>@_errorMessage</div>
    }
</div>
