@page "/account/record/{Id:int}"
@inject IWealthRepository _repo;
@inject NavigationManager _nav;

<PageTitle>Wealth Tracker - Accounts</PageTitle>
<div class="col-12 border border-secondary p-1">
    <h3>Record Amount</h3>

    @if (_optionalVm.IsSome && _optionalVm.Get() is ViewModel vm)
    {
    <EditForm class="mx-2" Model="@vm" OnValidSubmit="UpdateHandler">
        <div class="mb-3">
            <label for="accountName" class="form-label">Name</label>
            <InputText id="accountName" class="form-control" readonly @bind-Value="vm.Name" />
        </div>
        <div class="mb-3">
            <label for="accountAmount" class="form-label">Amount</label>
            <InputNumber id="accountAmount" class="form-control" @bind-Value="vm.Amount" />
        </div>
        <div class="mb-3">
            <label for="accountDate" class="form-label">Recording Date</label>
            <InputDate id="accountDate" class="form-control" @bind-Value="vm.Date" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" @onclick=CancelHandler>Cancel</button>
    </EditForm>
    }

    @if (string.IsNullOrEmpty(_errorMessage) is false)
    {
        <div>@_errorMessage</div>
    }
</div>
